%div.main-messages
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
  = render "message"
