.main-messages__upper{ "data-message-id": "#{message.id}"}
  .main-messages__upper--name
    = message.user.name
  .main-messages__upper--date
    = simple_time(message.created_at)
.main-messages__lower
  .main-messages__lower--meesage
    - if message.content.present?
      = message.content
  .main-messages__lower--image
    - if message.image.present?
      = image_tag message.image

