%div.contents
  %div.aside
    %div.aside-user
      = render "aside-user"
    %div.aside-group
      = render "aside-group"
      = render "aside-group"
      = render "aside-group"
  %div.main
    %div.main-group
      = render "main-group"
    %div.main-messages
      = render "main-messages"
      = render "main-messages"
    %div.main-form
      = render "main-form"
