.contents
  .aside
    = render "messages/aside-user"
    = render "messages/aside-group"
  .main
    = render "messages/main-group"
    = render "messages/main-messages"
    = render "messages/main-form"
